{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Estudiantes</title>
    <link rel="stylesheet" href="{% static 'AppCoder/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>Búsqueda de Estudiantes</h1>
        <form method="GET" action="{% url 'buscar' %}">
            <div class="form-group">
                <label for="apellido">Ingrese el apellido del estudiante:</label>
                <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Apellido del estudiante" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Buscar</button>
        </form>

        {% if estudiantes %}
        <h2>Resultados de la búsqueda</h2>
        <ul>
            {% for estudiante in estudiantes %}
            <li>{{ estudiante.nombre }} {{ estudiante.apellido }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No se encontraron estudiantes con ese apellido.</p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
