<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Ingreso Cursos</title>
</head>
<body>
    <!--ACTION == nombre de url destino de la informacion-->
    <!--METHOD == forma en el que se envia la informacion-->

    {% if form.errors %}

    <p style="color: red;">Estan mal los datos ingresados. </p>

    {% endif %}

    <h2>Registrar Estudiante</h2>
    <form action="{% url 'formularioCursoPython' %}" method="POST"> 
        {% csrf_token %}
        <table>
            {{form.as_table}}

        </table>

        <input type="submit" value="Registrar">
    </form>

</body>
</html>