{% extends "AppCoder/base.html" %}
    {% load static %}


    {% block contenidoCambiante %}
        <!--header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-0">
                <h1 class="masthead-heading mb-0">INICIO</h1>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
<!--fin header-->
    <div class="container">
        <h1 class="mt-4">Bienvenido a Programación Academy</h1>
        <p>Tu portal para aprender y mejorar tus habilidades en programación. Explora nuestros cursos y comienza tu viaje hoy mismo.</p>
        <div class="row">
            <div class="col-lg-4">
                <h2>Aprende a Programar</h2>
                <p>Inicia tu camino en el mundo de la programación con nuestros cursos básicos.</p>
                <a href="{% url 'cursos' %}" class="btn btn-primary">Ver Cursos</a>
            </div>
            <div class="col-lg-4">
                <h2>Desafía tus Habilidades</h2>
                <p>Completa entregables y evalúa tus conocimientos.</p>
                <a href="{% url 'entregables' %}" class="btn btn-primary">Ver Entregables</a>
            </div>
            <div class="col-lg-4">
                <h2>Conéctate con Profesores</h2>
                <p>Obtén ayuda y mentoría de expertos en programación.</p>
                <a href="{% url 'profesores' %}" class="btn btn-primary">Ver Profesores</a>
            </div>
        </div>
    </div>
    {% endblock contenidoCambiante %}