{% extends "AppCoder/base.html" %}
    {% load static %}


{% block contenidoCambiante %}
<main class="container">
    <section class="professors">
        <h1>Profesores</h1>
        <div class="professor-list">
            <div class="professor-item">
                <h2>Profesor 1: [Nombre del Profesor]</h2>
                <p>Descripción breve del profesor y su especialidad.</p>
                <a href="profesor1.html" class="btn btn-secondary">Ver Perfil</a>
            </div>
            <div class="professor-item">
                <h2>Profesor 2: [Nombre del Profesor]</h2>
                <p>Descripción breve del profesor y su especialidad.</p>
                <a href="profesor2.html" class="btn btn-secondary">Ver Perfil</a>
            </div>
            <!-- Añade más profesores según sea necesario -->
        </div>
    </section>
</main>

{% endblock contenidoCambiante %}